name: LaTeX

on:
  push:
    tags:
      - 'v*.*.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          # latexmk_use_xelatex: true
      - name: Check output
        run: ls
      - name: Change PDF output name
        run: mv main.pdf Chandrashekhar_Resume.pdf
      - name: Check output (after rename)
        run: ls
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: Chandrashekhar_Resume.pdf
      - name: Notify if package was published successfully
        if: success()
        env:
          TAG_NAME: ${{ github.ref_name }}
        run: |
          curl \
            -H $"Title: CV ${{ github.ref_name }} published successfully" \
            -H "X-Tags: memo, CV, version-update, updated-link" \
            -H "Content-Type: text/plain" \
            -d "CV ${{ github.ref_name }} published successfully.\nYou can find the updated CV at https://github.com/cr2007/CV/releases/latest/download/Chandrashekhar_Resume.pdf\nStatus: ${{job.status}}" \
            ${{ vars.NTFY_GACTIONS_URL }}
